{% include "dashboard/header.twig" %}
<div class="main">
    <div class="card">
        <h1>Quick Settings</h1>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav-settings").trigger('click');
    });
</script>
{% include "dashboard/footer.twig" %}